.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0 2rem;
}

.list > * {
  flex: 0 1 calc(25% - 1rem);
  max-width: 300px;
  min-width: 200px;
}
