.card {
  width: 100%;
  background: #efefef;
  border-radius: 0.64rem;
  padding: 2rem;
  margin: 1rem 0 2.5rem;
}

[data-theme="dark"] .card {
  background: #3a3a3a;
}

.group {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.group:last-child {
  margin-bottom: 0;
}

.label {
  font-weight: bold;
}

.name {
  flex: 1;
}
