.description {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  background: none;
  border: none;
  padding: 0;
}

.researchCards {
  width: 100%;
  background-color: #e5e5e5;
  border: 1px solid #5b51e2;
  border-radius: 12px;
  padding: 2rem;
}

[data-theme="dark"] .researchCards {
  background-color: #292735;
  border-color: #413d55;
}

.block:last-child {
  margin-bottom: 0;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 2.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.documentationButton {
  background-color: #5b51e2;
  color: #ffffff !important;
  border: 1px solid #5b51e2;
  transition: transform 0.2s ease;
}

.documentationButton:hover {
  background-color: #5b51e2;
  color: #ffffff !important;
  transform: scale(1.04);
}

[data-theme="dark"] .documentationButton {
  background-color: #5b51e2;
  color: white !important;
  border-color: #5b51e2;
}
